<!-- 
    
    <div class="regclass">
        <h4></h4>
        <label for="Username">Username:</label>
        <input type="text" placeholder="abc@gmail.com">
        <h4></h4>
            <label for="Password">Password:</label>
            <input type="password" placeholder="Abc@12">
            <h4></h4>
                <label for="retypepass" >Retype Password:</label>
                <input type="password">


            
           
                <h4></h4><button onclick="show()">Submit</button>
                </div>


            -->

            <div class="regclass">
                <table align="center" style="padding: 10px;">
                   <div class="pad">
                    <tr >
                        <label for="Username">Username</label>
                        <input type="text">
                    </tr>
                </div>
                <div class="pad">
                    <tr  >
                        <label for="Username">Username</label>
                        <input type="text">
                    </tr>
                </div>
                   
                    <tr >
                        <label for="Username">Username</label>
                        <input type="text">
                    </tr>
                    <tr >
                        <label for="Username">Username</label>
                        <input type="text">
                    </tr>
                    <tr >
                        <label for="Username">Username</label>
                        <input type="text">
                    </tr>
                </table>

            </div>