/* h1{
    font-family: 'Poppins', sans-serif;
} */
/* p{
    font-family: 'Hind', sans-serif;
} */
div {
    border: 1px solid #000;
}

* {
    padding: 5px;
    margin: 5px;
}

body {

    border-color: rgb(173, 109, 109);
    border-width: 10px;

    font-size: medium;
    border-style: groove;

}

#first {
    border-width: 4px;
    border-style: double;
}

#second {
    border-width: 4px;
    border-style: ridge;

}

#third {
    border-width: 4px;
    border-style: dashed;

}


#p-1 {

    font-style: normal;
    font-family: 'Hind', sans-serif;
    font-size: large;

}

span {
    color: rgb(58, 139, 209);
}

#p-2 {
    font-style: italic;
    font-size: larger;
}

#p-3 {
    font-style: italic;
    font-size: x-large;
}

div {
    width: auto;
    height: auto;
    margin: 4px;
    padding: 10px;
}
/* 2 ways */
/* #p-1 > span{
    color: #1f11ec;
}

#p-3 > span{
    color: blanchedalmond;
} */

#first span{
    color: #1f11ec;

}

#third span{
    color: blanchedalmond;
}



#first>h1 {

    font-family: 'Poppins', sans-serif;

}

#second>h1 {

    font-family: 'Hind', sans-serif;

}